<button class="btn btn-secondary" (click)="downloadAllVersionLogAsPDF()">Download Log</button>
<div id="versionLogs">      
<div *ngFor="let activity of versionLog.activities; index as i">
    <div [ngClass]="{'version-timeline-upcoming': activity.released === false }" class="version-timeline-complete">
        <div class="card overflow-hidden shadow-none p-2">
            <div class="card-body"  >
                <ul class="timeline pr-2">
                    <li class="d-flex flex-column">
                        <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between">
                            <a >
                                <img src="../assets/img/git.png" class="user-profile" alt="" *ngIf="activity.released" />
                                <img src="../assets/img/git1.png" class="user-profile" alt="" *ngIf="!activity.released" />
                                <span class="ml-1 activity-user">{{activity.version}} {{activity.releaseDate}}</span>
                            </a>
                        </div>
                        <p [innerHTML]="activity.description"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
