<div class="row charts-box">
<div class="col-xl-6 col-lg-12" >
<div class="card card-height-chart">
	<div class="card-header">
		<h4 class="card-title">{{'dashboard.yearly_project' | translate}}</h4>
	</div>
	<div class="card-body">
		<div class="card-block">
			<div id="bar-bar1" class="height-300">
				<canvas baseChart
					class="chart"
					[datasets]="barChartDataProject"
					[labels]="barChartLabels"
					[options]="barChartOptions"
					[colors]="barChartColorsProject"
					[legend]="barChartLegend"
					[chartType]="barChartType">
				</canvas>
			</div>
			<div class="text-center mt-1">
				<figure class="figure">
					<figcaption class="text-muted">Figure 4</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
</div>

<div class="col-xl-6 col-lg-12" >
<div class="card card-height-chart">
	<div class="card-header">
		<h4 class="card-title">{{'dashboard.yearly_cost' | translate}}</h4>
	</div>
	<div class="card-body">
		<div class="card-block">
			<div id="bar-bar1" class="height-300">
				<canvas baseChart
					class="chart"
					[datasets]="barChartDataProjectBill"
					[labels]="barChartLabels"
					[options]="barChartOptions"
					[colors]="barChartColorsProjectBill"
					[legend]="barChartLegend"
					[chartType]="barChartType">
				</canvas>
			</div>
			<div class="text-center mt-1">
				<figure class="figure">
					<figcaption class="text-muted">Figure 5</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
</div>