.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
}

/* Existing styles for the sidebar */
  .version-number a {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #463f3aaa; 
    text-decoration: none; /* Remove the default underline */
    }
  
  .version-number a:hover {
    color: #14213d; /* Set the desired text color on hover */
  }
  
  
  